{% extends "_layout" %}

{% block content %}

<div class="backButton"><a href="/timetable">&#x219E; Back to Timetable</a></div>
<div class="ws_body">
  <div class="ws_frame w-clearfix">
    <div class="shopleft">
      <div class="wks-info w-clearfix">
        <h1 class="shop_title">{{ entry.title }} <br><span class="shop_with">with {{ entry.workshoptutor }}</span></h1>
        <div class="subinfo">
          <h3 id="w-node-198eef52d2c7-fd14c1eb" class="shop_date">{{ entry.workshopdate|date('D d M') }}</h3>
          <h3 class="shop_time">{{ entry.workshopstarttime|time('gA') }} - {{ entry.workshopfinishtime|time('gA') }}</h3>
          <h3 id="w-node-198eef52d2c3-fd14c1eb" class="shop_price">$120 - <span class="shop_available">{{ entry.workshopavailable }} Available</span></h3>
        </div>
        <div class="wks-desc">{{ entry.workshopdescription }}</div>
        <div class="wks-important">
          {{ entry.workshoprequirements }}
        </div>
        <a target="_blank" href="{{ entry.workshopembed }}" class="bookbutton shop w-button">reserve a spot!</a>

      </div>
    </div>

    {% set image = entry.workshophero.one() %}
    <div id="w-node-d87530e3ac0b-fd14c1eb" class="shopright"><img src="{{ image.Url() }}" class="shop_img"></div>
  </div>
</div>

{% endblock %}
