{% extends "_layout" %}

{% block content %}

<div class="timetablebody">
  <div class="workshopintro w-clearfix">
    <div class="floatright">
      <p class="paragraph">Welcome to The Workshop, the side of Kiln Studio that is dedicated to sharing knowledge, skills, kindness and more!</p>
      <p class="paragraph">Below are our upcoming workshops, take a look and see if anything piques your fancy.</p>
    </div>
    <div class="floatleft"></div>
  </div>

{% set workshops = craft.entries.section("timetable").order('postDate asc').all() %}

{% if workshops %}

    {% for workshop in workshops %}

    {% set image = workshop.workshophero.one() %}

    <div class="workshopsection w-clearfix">
      <div class="workshopimage"><a href="{{ workshop.url }}"><img src="{{ image.Url() }}" class="heroimagefront"></a></div>
      <div class="wsleft">
        <a href="{{ workshop.url }}"><h1 class="ws_title">{{ workshop.title }}</h1></a>
        <h2 class="ws_tutor">with {{ workshop.workshoptutor }}

          {% if workshop.workshopinstagram %}
          (<a target="_blank" href="https://www.instagram.com/{{ workshop.workshopinstagram }}/">@{{ workshop.workshopinstagram }}</a>)
          {% endif %}

        </h2>
        <p class="ws_short">{{ workshop.workshopdescription}}</p>
        <a href="{{ workshop.url }}" class="tellmemore">More info...</a>
      </div>
      <div class="wsright w-clearfix">
        <h2 class="ws_date">{{ workshop.workshopdate|date('D d M') }}</h2>
        <h2 class="ws_time">{{ workshop.workshopstarttime|time('gA') }} - {{ workshop.workshopfinishtime|time('gA') }}</h2>
        <h2 class="ws_price">${{ workshop.workshopprice }}</h2>
        <a href="{{ workshop.url }}" class="bookbutton w-button">Reserve a spot</a>
      </div>
    </div>

    {% endfor %}

{% else %}
    <p style="text-align: center;"> There's nothing here right now. Message Jamie on instagram and tell him to get his A into G!</p>
{% endif %}

</div>

{% endblock %}
