body {
  height: 100%;
  background-color: #fffefa;
  font-family: Silka, sans-serif;
  color: #141a38;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 2.5em;
  line-height: 1;
  font-weight: 400;
}

h3 {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

p {
  margin-bottom: 10px;
  line-height: 1.7;
  letter-spacing: 1px;
}

a {
  -webkit-transition: color 600ms cubic-bezier(.39, .575, .565, 1);
  transition: color 600ms cubic-bezier(.39, .575, .565, 1);
  color: #141a38;
  text-decoration: none;
}

/*
a:hover {
  color: #141a38;
}

a:active {
  color: #141a38;
}

a:focus {
  color: #141a38;
}

a:visited {
  color: #141a38;
}

*/

.backButton{
  position: absolute;
  top: 10px;
  left: 20px;
}

.containerright {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  width: 50%;
  height: 100%;
  float: right;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fffefa;
  color: #141a38;
  -o-object-fit: fill;
  object-fit: fill;
}

.containerleft {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  padding: 50px;
  float: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #141a38;
  color: #fffefa;
}

.hero {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  width: auto;
  height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.split {
  display: none;
  height: 100vh;
}

.centerpage {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: transparent;
}

.landinglogo {
  margin-bottom: 20px;
  clear: none;
}

p {
  margin-bottom: 15px;
  margin-left: 10px;
  font-size: 14px;
  letter-spacing: 1px;
}

.heroimage {
  display: block;
  overflow: hidden;
  width: 50%;
  height: 100%;
  margin-right: 0px;
  background-image: url('../images/ClearCut_Honest-02043.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.containercenter {
  position: relative;
  width: auto;
  height: auto;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 50px;
  padding-left: 50px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: transparent;
  letter-spacing: 3px;
}

.heading {
  font-size: 3em;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
}

.heading.mainlinkwhite:hover {
  margin-top: 19px;
  padding-bottom: 15px;
  border-bottom: 4px solid #fffefa;
}

.heading.mainlinkwhite:hover {
  margin-top: 40px;
  padding-bottom: 15px;
  border-bottom: 4px solid #fffefa;
}

.heading.mainlinkblue:hover {
  margin-top: 39px;
  padding-bottom: 15px;
  border-bottom: 4px solid #000;
}

.heading.clay {
  margin-top: 0px;
  margin-bottom: 25px;
}

.heading.work {
  margin-bottom: 30px;
}

.timetable {
  display: none;
}

.claybody {
  height: 100%;
  background-color: #141a38;
}

.clayimg {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -o-object-fit: fill;
  object-fit: fill;
}

.navbar {
  position: fixed;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 100vh;
  height: 30px;
  padding-right: 6px;
  padding-left: 6px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  border-bottom: 2px solid #141a38;
  background-color: #fffefa;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate(0px, 0px) translate(-100vh, 0px) rotate(-90deg);
  -ms-transform: translate(0px, 0px) translate(-100vh, 0px) rotate(-90deg);
  transform: translate(0px, 0px) translate(-100vh, 0px) rotate(-90deg);
  -webkit-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  -webkit-transition: -webkit-transform 600ms cubic-bezier(.55, .985, .556, .991);
  transition: -webkit-transform 600ms cubic-bezier(.55, .985, .556, .991);
  transition: transform 600ms cubic-bezier(.55, .985, .556, .991);
  transition: transform 600ms cubic-bezier(.55, .985, .556, .991), -webkit-transform 600ms cubic-bezier(.55, .985, .556, .991);
  white-space: nowrap;
  cursor: pointer;
}

.navlink {
  margin-right: 20px;
  margin-left: 20px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-weight: 500;
  text-transform: none;
}

.navlink:hover {
  text-decoration: underline;
}

.claycontainerleft {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  padding-right: 100px;
  padding-left: 100px;
  float: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #141a38;
  color: #fffefa;
}

.claycontainerright {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  width: 50%;
  height: 100%;
  float: right;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fffefa;
  color: #141a38;
  -o-object-fit: fill;
  object-fit: fill;
}

.whitelink {
  color: #fffefa;
}

.whitelink:hover {
  color: #ffe476;
  text-decoration: underline;
}

.whitelink:active {
  color: #fffefa;
}

.whitelink:focus {
  color: #c9b258;
}

.whitelink:visited {
  color: #fffefa;
}

.workcontainerleft {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  width: 50%;
  height: 100%;
  float: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  background-color: transparent;
  color: #fffefa;
}

.workcontainerright {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  width: 50%;
  height: 100%;
  float: right;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fffefa;
  color: #141a38;
  -o-object-fit: fill;
  object-fit: fill;
}

.workcontainerright.work {
  padding: 0px 100px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.bluelink:hover {
  color: #ff7686;
  text-decoration: underline;
}

.menugrab {
  position: absolute;
  left: auto;
  top: auto;
  right: 0px;
  bottom: -89%;
  z-index: 15;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 27px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #141a38;
  background-color: #fffefa;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

.menubttn {
  padding: 2px;
  color: #141a38;
}

.timetablebody {
  display: block;
  width: 90%;
  height: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  padding-top: 25px;
}

.workshopintro {
  display: block;
  height: auto;
  margin: 0px 50px 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.floatright {
  display: inline-block;
  width: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
  float: right;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-size: 18px;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 1px;
}

.floatleft {
  width: 50%;
  height: 100%;
  float: left;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.workshopsection {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: 40vh;
  margin-bottom: 25px;
  padding: 25px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: solid;
  border-width: 5px;
  border-color: #141a38;
}

.ws_title {
  display: block;
  margin-bottom: 0px;
  font-weight: 700;
}

.ws_tutor {
  display: inline-block;
  margin-top: 0px;
  font-size: 26px;
  line-height: 1.7;
  font-weight: 500;
}

.wsleft {
  position: static;
  z-index: 0;
  display: block;
  width: 70%;
  margin-top: -10px;
  margin-right: 0px;
  float: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.wsright {
  display: inline-block;
  width: 30%;
  margin-left: 0px;
  float: right;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.ws_price {
  display: inline-block;
  width: 100%;
  margin-top: 0px;
  float: none;
  font-size: 24px;
  line-height: 1.4;
  font-weight: 500;
  text-align: right;
}

.ws_date {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0px;
  float: none;
  font-size: 26px;
  line-height: 1.4;
  font-weight: 600;
  text-align: right;
}

.ws_short {
  margin-right: 50px;
}

.comingsoon {
  display: none;
  width: 100%;
  height: 100vh;
  padding: 250px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.introcont {
  position: static;
  max-width: 70%;
  margin-right: auto;
  margin-left: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 1em;
  line-height: 1;
}

.contactlinks {
  margin-top: 40px;
  margin-bottom: 15px;
  margin-left: 10px;
  font-size: 16px;
  letter-spacing: 1px;
}

.contactlinks.home {
  padding-top: 25px;
  border-top: 2px solid #141a38;
  font-size: 14px;
  font-weight: 400;
}

.body {
  overflow: visible;
}

.contactcenter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.body-2 {
  color: #141a38;
  font-weight: 400;
}

.workbody {
  height: 100%;
  background-color: #fffefa;
}

.workshopimage {
  position: relative;
  display: block;
  width: 25%;
  height: 100%;
  margin-right: 25px;
  float: left;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -o-object-fit: fill;
  object-fit: fill;
}

.ws_time {
  display: inline-block;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
  float: none;
  font-size: 26px;
  line-height: 1.4;
  font-weight: 600;
  text-align: right;
}

.bookbutton {
  margin-top: 20px;
  float: right;
  clear: none;
  border-style: solid;
  border-width: 5px;
  border-color: #fffefa;
  background-color: #141a38;
  -webkit-transition: background-color 400ms ease, color 600ms cubic-bezier(.39, .575, .565, 1);
  transition: background-color 400ms ease, color 600ms cubic-bezier(.39, .575, .565, 1);
  direction: ltr;
  font-size: 20px;
  line-height: 1.7;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.bookbutton:hover {
  border-style: solid;
  border-width: 5px;
  border-color: #141a38;
  background-color: #fffefa;
  color: #141a38;
}

.bookbutton:focus {
  border-color: #141a38;
  background-color: #fffefa;
}

.bookbutton.shop {
  margin-left: 20px;
  float: left;
}

.tellmemore {
  display: inline-block;
  margin-top: 10px;
  font-weight: 500;
}

.contact {
  margin-left: 10px;
  font-size: 1.1em;
}

.ws_frame {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 1200px;
  margin:auto;
  padding-right: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-style: solid;
  border-width: 6px;
  border-color: #141a38;
}

.ws_body {
  width: 100%;
  min-height: 100vh;
  padding-top: 5vh;
}

.wsleft-copy {
  position: static;
  z-index: 0;
  display: block;
  width: 70%;
  margin-top: -10px;
  margin-right: 0px;
  float: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.shopleft {
  overflow: scroll;
  width: 60%;
  height: 100%;
  float: left;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.shopright {
  position: static;
  display: block;
  width: 40%;
  height: 700px;
  float: right;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-image: url('../images/AIMG_1905.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -o-object-fit: fill;
  object-fit: fill;
}

.wks-date {
  display: inline-block;
  margin-top: 0px;
  margin-left: 25px;
  float: left;
  clear: none;
}

.italic-text {
  font-style: normal;
}

.text-span {
  font-weight: 400;
}

.wks-with {
  font-size: 31px;
  font-weight: 600;
}

.wks-time {
  display: inline-block;
  margin-top: 0px;
  margin-left: 25px;
  float: left;
  clear: none;
}

.wks-workname {
  position: relative;
  display: block;
  margin-top: 0px;
  margin-bottom: 25px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #141938;
  font-size: 3.1em;
  line-height: 1;
  text-align: left;
  letter-spacing: 0.5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: auto;
}

.wks-info {
  position: relative;
  display: inline-block;
  padding: 50px;
  background-color: #fffefa;
}

.wks-important {
  display: block;
  width: 50%;
  padding-left: 25px;
  float: left;
  clear: right;
  font-size: 0.9em;
  line-height: 1.5;
  font-weight: 300;
}

.wks-desc {
  display: block;
  width: 50%;
  margin-bottom: 20px;
  padding-right: 25px;
  float: left;
  clear: both;
  border-right: 2px solid #141938;
  font-size: 1em;
  line-height: 1.7;
}

.wks-time-price {
  display: inline-block;
  width: 50%;
  margin-top: 0px;
  float: left;
  clear: none;
}

.shop_title {
  line-height: 1.1;
  font-weight: 500;
}

.subinfo {
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 75%;
  height: auto;
  margin-bottom: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  grid-auto-columns: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-areas: ". ."
    "Area Area";
  -ms-grid-columns: 0.5fr 5px 0.75fr;
  grid-template-columns: 0.5fr 0.75fr;
  -ms-grid-rows: auto 5px minmax(0px, 1fr);
  grid-template-rows: auto minmax(0px, 1fr);
}

.heading-2 {
  position: relative;
}

.shop_available {
  font-weight: 400;
}

.slider {
  display: block;
  height: 100%;
}

.image-2 {
  position: static;
  overflow: visible;
  -o-object-fit: cover;
  object-fit: cover;
}

.shop_img {

  width: auto;

}

@media screen and (max-width: 991px) {
  .centerpage {
    padding-right: 30px;
    padding-left: 30px;
  }

  .paragraph {
    font-size: 15px;
  }

  .heroimage {
    margin-right: 0px;
  }

  .containercenter {
    padding-right: 10px;
    padding-left: 10px;
  }

  .claycontainerleft {
    width: 70%;
    padding-right: 75px;
    padding-left: 75px;
  }

  .claycontainerright {
    width: 30%;
  }

  .workcontainerleft {
    width: 40%;
  }

  .workcontainerright.work {
    width: 60%;
    padding-right: 50px;
    padding-left: 50px;
  }

  .menugrab {
    right: -60px;
  }

  .timetablebody {
    max-width: none;
  }

  .workshopintro {
    margin: 0px;
  }

  .floatright {
    width: 75%;
  }

  .workshopsection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .wsleft {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .wsright {
    width: 100%;
  }

  .ws_price {
    width: auto;
    float: right;
    clear: right;
  }

  .ws_date {
    width: auto;
    float: right;
    clear: right;
  }

  .comingsoon {
    padding: 150px;
  }

  .contactlinks {
    font-size: 15px;
  }

  .workshopimage {
    position: static;
    overflow: hidden;
    width: 100%;
    height: 500px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    text-align: center;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .ws_time {
    width: auto;
    float: right;
    clear: right;
  }

  .bookbutton {
    position: relative;
    right: 0px;
    display: inline-block;
    margin-top: -30px;
    margin-left: 0px;
    float: left;
  }

  .bookbutton.shop {
    margin-top: 25px;
  }

  .heroimagefront {
    width: 100%;
    margin-top: -100px;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .contact {
    margin-left: 10px;
    font-size: 15px;
  }

  .ws_frame {
    margin-bottom: 5vh;
    padding-right: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .wsleft-copy {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .shopleft {
    width: auto;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .shopright {
    overflow: hidden;
    width: auto;
    height: 50vh;
  }

  .wks-workname {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 2.2em;
    line-height: 1.2;
  }

  .wks-info {
    padding: 25px;
  }

  .shop_title {
    margin-bottom: 20px;
    font-size: 3em;
    line-height: 0.9;
    font-weight: 600;
  }

  .subinfo {
    margin-bottom: 20px;
    -ms-grid-columns: 0.25fr 0.75fr;
    grid-template-columns: 0.25fr 0.75fr;
  }

  .shop_with {
    font-size: 0.7em;
    line-height: 1;
    font-weight: 500;
  }

  .shop_img {
    overflow: visible;
    margin-top: -120px;
    margin-bottom: -120px;
  }
}

@media screen and (max-width: 767px) {
  .claybody {
    overflow: hidden;
  }

  .navlink {
    margin-right: 20px;
  }

  .claycontainerleft {
    display: block;
    overflow: scroll;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .workcontainerright.work {
    padding-right: 35px;
    padding-left: 35px;
  }

  .menugrab {
    right: -40px;
  }

  .workshopintro {
    height: auto;
    margin-right: 0px;
    margin-left: 0px;
    font-size: 10px;
  }

  .floatright {
    width: 80%;
  }

  .introcont {
    font-size: 12px;
  }

  .workbody {
    overflow: hidden;
  }

  .subinfo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .hero {
    overflow: visible;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .centerpage {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin-top: -100px;
    padding: 15px 20px 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fffefa;
    font-size: 10px;
    text-align: left;
  }

  .paragraph {
    font-size: 12px;
    line-height: 1.5;
  }

  .heroimage {
    width: 100%;
    height: 50%;
    background-position: 50% 71%;
  }

  .heading.clay {
    font-size: 2em;
  }

  .heading.work {
    font-size: 2em;
  }

  .claybody {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .clayimg {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }

  .navbar {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }

  .navlink {
    margin-right: 10px;
  }

  .claycontainerleft {
    padding-right: 20px;
    padding-left: 20px;
  }

  .claycontainerright {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }

  .workcontainerleft {
    width: 30%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }

  .workcontainerright.work {
    width: 70%;
    padding: 40px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .menugrab {
    right: -63px;
  }

  .workshopintro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .ws_title {
    margin-bottom: 5px;
    font-size: 2em;
    line-height: 1.2;
  }

  .ws_tutor {
    font-size: 16px;
  }

  .ws_short {
    margin-right: 0px;
  }

  .contactlinks {
    font-size: 12px;
  }

  .body {
    overflow: visible;
  }

  .contactcenter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fffefa;
    color: #141a38;
  }

  .workbody {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .workshopimage {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: auto;
  }

  .bookbutton {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
  }

  .bookbutton.shop {
    position: static;
    margin-left: 0px;
  }

  .contact {
    font-size: 12px;
  }

  .ws_frame {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0px;
    margin-bottom: 0vh;
    margin-left: 0px;
    border-width: 0px;
  }

  .shopright {
    height: auto;
    background-image: none;
  }

  .wks-important {
    width: 100%;
    padding-left: 0px;
  }

  .wks-desc {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 2px solid #141a38;
    border-right-width: 0px;
  }

  .shop_title {
    margin-top: 0px;
    font-size: 2em;
    line-height: 1;
  }

  .subinfo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-template-areas: ". ."
      ". ."
      "Area Area";
    -ms-grid-rows: auto minmax(0px, 1fr) auto;
    grid-template-rows: auto minmax(0px, 1fr) auto;
    font-size: 1em;
  }

  .shop_date {
    font-size: 16px;
  }

  .shop_time {
    font-size: 16px;
  }

  .shop_price {
    font-size: 16px;
  }
}

#w-node-198eef52d2c7-fd14c1eb {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-198eef52d2c3-fd14c1eb {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-d87530e3ac0b-fd14c1eb {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@font-face {
  font-family: 'Silka Mono';
  src: url('../fonts/silkamono-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Silka Mono';
  src: url('../fonts/silkamono-semibold-webfont.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Silka Mono';
  src: url('../fonts/silkamono-black-webfont.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Silka Mono';
  src: url('../fonts/silkamono-extralight-webfont.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Silka Mono';
  src: url('../fonts/silkamono-bold-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Silka Mono';
  src: url('../fonts/silkamono-light-webfont.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Silka Mono';
  src: url('../fonts/silkamono-medium-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Silka Mono';
  src: url('../fonts/silkamono-thin-webfont.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Silka';
  src: url('../fonts/silka-black-webfont.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Silka';
  src: url('../fonts/silka-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Silka';
  src: url('../fonts/silka-light-webfont.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Silka';
  src: url('../fonts/silka-medium-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Silka';
  src: url('../fonts/silka-bold-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Silka';
  src: url('../fonts/silka-semibold-webfont.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Silka';
  src: url('../fonts/silka-extralight-webfont.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Silka';
  src: url('../fonts/silka-thin-webfont.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
