<!DOCTYPE html>
<html data-wf-page="5fb3461f9b5831129a01aa0c" data-wf-site="5fb3461f9b5831810f01aa0b">
<head>
  <meta charset="utf-8">
  <title>Kiln Studio</title>
  <meta content="Kiln is a combination of Clay Studio &amp; Learning Space built to bring people together to share knowledge, skills and kindness." name="description">
  <meta content="Kiln Studio - Home" property="og:title">
  <meta content="Kiln is a combination of Clay Studio &amp; Learning Space built to bring people together to share knowledge, skills and kindness." property="og:description">
  <meta content="Kiln Studio - Home" property="twitter:title">
  <meta content="Kiln is a combination of Clay Studio &amp; Learning Space built to bring people together to share knowledge, skills and kindness." property="twitter:description">
  <meta property="og:type" content="website">
  <meta content="summary_large_image" name="twitter:card">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  {% includeCssFile "@web/css/normalize.css" %}
  {% includeCssFile "@web/css/webflow.css" %}
  {% includeCssFile "@web/css/kiln.css" %}
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="images/webclip.png" rel="apple-touch-icon">
</head>
<body style="opacity:0" class="body">
  <div data-w-id="1d00a5ea-437e-31bf-a734-c539af730da9" class="navbar">
    <a href="/" aria-current="page" class="navlink w--current">Home</a>
    <a href="/clay" class="navlink">The Clay Studio</a>
    <a href="/work" class="navlink">The Workshop</a>
    <a href="/timetable" class="navlink">Timetable</a>
    <a href="/contact" class="navlink">Contact</a>
    <div class="menugrab">
      <div class="menubttn">MENU</div>
    </div>
  </div>


    {% block content %}
    {% endblock %}


    <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=5fb3461f9b5831810f01aa0b" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    {% includeJsFile "@web/js/webflow.js" %}

    <script type="text/javascript">{% block script %}{% endblock %}</script>
    <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
    </body>
</html>
