{% extends "_layout" %}

{% block content %}

<div class="claybody w-clearfix">
  <div class="claycontainerleft">
    <h1 class="heading clay">{{ entry.title }}</h1>

    {{ entry.clayBlurb }}

    <p class="paragraph">For prices &amp; more information contact: <a href="mailto:Jamie@kilnstudio.nz?subject=Mail%20from%20the%20Website" class="bluelink">Jamie@kilnstudio.nz</a>
    </p>
  </div>
  <div class="claycontainerright"><img src="images/TM-2_1.JPG" loading="lazy" sizes="(max-width: 991px) 30vw, (max-width: 7508px) 50vw, 3754px" srcset="images/TM-2_1-p-500.jpeg 500w, images/TM-2_1-p-800.jpeg 800w, images/TM-2_1.JPG 3754w" alt="" class="clayimg"><img src="images/KILNX-02067.jpg" loading="lazy" sizes="(max-width: 991px) 30vw, (max-width: 8000px) 50vw, 4000px" srcset="images/KILNX-02067-p-500.jpeg 500w, images/KILNX-02067-p-800.jpeg 800w, images/KILNX-02067-p-1080.jpeg 1080w, images/KILNX-02067-p-1600.jpeg 1600w, images/KILNX-02067-p-2000.jpeg 2000w, images/KILNX-02067-p-2600.jpeg 2600w, images/KILNX-02067-p-3200.jpeg 3200w, images/KILNX-02067.jpg 4000w" alt="" class="clayimg"><img src="images/TM-2.JPG" loading="lazy" sizes="(max-width: 991px) 30vw, (max-width: 7290px) 50vw, 3645px" srcset="images/TM-2-p-800.jpeg 800w, images/TM-2-p-1080.jpeg 1080w, images/TM-2-p-1600.jpeg 1600w, images/TM-2-p-2000.jpeg 2000w, images/TM-2-p-2600.jpeg 2600w, images/TM-2-p-3200.jpeg 3200w, images/TM-2.JPG 3645w" alt="" class="clayimg"><img src="images/TM.JPG" loading="lazy" sizes="(max-width: 991px) 30vw, (max-width: 7514px) 50vw, 3757px" srcset="images/TM-p-500.jpeg 500w, images/TM-p-800.jpeg 800w, images/TM-p-1080.jpeg 1080w, images/TM-p-1600.jpeg 1600w, images/TM-p-2000.jpeg 2000w, images/TM-p-2600.jpeg 2600w, images/TM-p-3200.jpeg 3200w, images/TM.JPG 3757w" alt="" class="clayimg"></div>
</div>

{% endblock %}


{% block script %}

{% endblock %}
