{% extends "_layout" %}

{% block content %}

<div class="contactcenter">
  <div>
    <div class="introcont">
      <p class="contact">Kiln officially opens in January 2020 but we are available for Workshops and Workbench hire while we work out the kinks.<br><br>Any questions please don&#x27;t hesitate to get in touch.<br></p>
      <p class="contactlinks">
        <a href="https://www.instagram.com/kiln.studio/" target="_blank" class="bluelink">@kiln.studio</a><br>
        <a href="tel:+64272980788" class="bluelink">+64 27 298 0788</a><br>
        <a href="mailto:jamie@kilnstudio.nz?subject=Hi%20from%20the%20website!" class="bluelink">jamie@kilnstudio.nz</a><br><br>
        <a href="https://www.google.com/maps/place/123+Bridge+Street,+Nelson+7010/@-41.2725766,173.2857525,3a,75y,56.46h,85.09t/data=!3m6!1e1!3m4!1sNSYilhBQTrYua16GUzNqDw!2e0!7i16384!8i8192!4m5!3m4!1s0x6d3bed0ef104644b:0x1d6c3a843b9a47a0!8m2!3d-41.2723991!4d173.2858564" target="_blank" class="bluelink">123c Bridge Street, Nelson, Aotearoa</a>
      </p>
    </div>
  </div>
</div>

{% endblock %}
