{% extends "_layout" %}

{% block content %}

<div class="workbody w-clearfix">
  <div class="workcontainerleft"><img src="images/ClearCut_Honest-02043.jpg" loading="lazy" srcset="images/ClearCut_Honest-02043-p-500.jpeg 500w, images/ClearCut_Honest-02043-p-800.jpeg 800w, images/ClearCut_Honest-02043-p-1080.jpeg 1080w, images/ClearCut_Honest-02043-p-1600.jpeg 1600w, images/ClearCut_Honest-02043-p-2000.jpeg 2000w, images/ClearCut_Honest-02043-p-2600.jpeg 2600w, images/ClearCut_Honest-02043-p-3200.jpeg 3200w, images/ClearCut_Honest-02043.jpg 3604w" sizes="100vw" alt="" class="clayimg"></div>
  <div class="workcontainerright work">
    <h1 class="heading work"> {{ entry.title }} </h1>

    {{ entry.workshopBlurb }}

    <p>For more information contact <a href="mailto:Jamie@kilnstudio.nz?subject=Mail%20from%20the%20Website" class="bluelink">Jamie@kilnstudio.nz</a></p>
  </div>
</div>

{% endblock %}
